.blog-header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10; /* Ensures it's on top of other elements */
    text-align: left;
    margin: 0 auto; /* Centers the info bubble */
}

.blog-header h1 {
    font-size: 1.8rem;
    color: #6B705C; /* Soft earthy green */
    font-family: serif;
    margin: 0;
}

.blog-header h3 {
    font-size: 1rem;
    color: #58457e; /* Light lavender for contrast */
    font-family: serif;
    font-style: italic;
    margin: 0;
}
